
/*페이북*/
@font-face {
    font-family: 'paybooc';
    font-style: normal;
    font-weight: 100;
    src: local('paybooc'),
        url('paybooc OTF Light.otf') format('opentype'),
        url('paybooc OTF Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'paybooc';
    font-style: normal;
    font-weight: 300;
    src: local('paybooc'),
        url('paybooc OTF Medium.otf') format('opentype'),
        url('paybooc OTF Medium.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'paybooc';
    font-style: normal;
    font-weight: 500;
    src: local('paybooc'),
        url('paybooc OTF Bold.otf') format('opentype'),
        url('paybooc OTF Bold.eot') format('embedded-opentype');
}


@font-face {
    font-family: 'paybooc';
    font-style: normal;
    font-weight: 500;
    src: local('paybooc'),
        url('paybooc OTF ExtraBold.otf') format('opentype'),
        url('paybooc OTF ExtraBold.eot') format('embedded-opentype');
}







/*노토산스*/
@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 100;
    src: local('Notosans'),
        url('NotoSansKR-Thin.otf') format('opentype'),
        url('NotoSansKR-Thin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 200;
    src: local('Notosans'),
        url('NotoSansKR-Light.otf') format('opentype'),
        url('NotoSansKR-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 300;
    src: local('Notosans'),
        url('NotoSansKR-Regular.otf') format('opentype'),
        url('NotoSansKR-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 400;
    src: local('Notosans'),
        url('NotoSansKR-Medium.otf') format('opentype'),
        url('NotoSansKR-Medium.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 700;
    src: local('Notosans'),
        url('NotoSansKR-Bold.otf') format('opentype'),
        url('NotoSansKR-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 900;
    src: local('Notosans'),
        url('NotoSansKR-Black.otf') format('opentype'),
        url('NotoSansKR-Black.eot') format('embedded-opentype');
}


/*노토산스 세리프*/
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSerif'),
        url('NotoSerifCJKkr-Regular.otf') format('opentype'),
        url('NotoSerifCJKkr-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSerif'),
        url('NotoSerifCJKkr-Black.otf') format('opentype'),
        url('NotoSerifCJKkr-Black.eot') format('embedded-opentype');
}


/*에스코어*/

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 900;
    src: local('※'),
        url('SCDream9.woff2') format('woff2'), 
        url('SCDream9.woff') format('woff'),
        url('SCDream9.ttf') format('truetype'),
        url('SCDream9.otf') format('opentype'),
        url('SCDream9.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 800;
    src: local('※'),
        url('SCDream8.woff2') format('woff2'), 
        url('SCDream8.woff') format('woff'),
        url('SCDream8.ttf') format('truetype'),
        url('SCDream8.otf') format('opentype'),
        url('SCDream8.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
        url('SCDream7.woff2') format('woff2'), 
        url('SCDream7.woff') format('woff'),
        url('SCDream7.ttf') format('truetype'),
        url('SCDream7.otf') format('opentype'),
        url('SCDream7.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 600;
    src: local('※'),
        url('SCDream6.woff2') format('woff2'), 
        url('SCDream6.woff') format('woff'),
        url('SCDream6.ttf') format('truetype'),
        url('SCDream6.otf') format('opentype'),
        url('SCDream6.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 500;
    src: local('※'),
        url('SCDream5.woff2') format('woff2'), 
        url('SCDream5.woff') format('woff'),
        url('SCDream5.ttf') format('truetype'),
        url('SCDream5.otf') format('opentype'),
        url('SCDream5.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('SCDream4.woff2') format('woff2'), 
        url('SCDream4.woff') format('woff'),
        url('SCDream4.ttf') format('truetype'),
        url('SCDream4.otf') format('opentype'),
        url('SCDream4.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
        url('SCDream3.woff2') format('woff2'), 
        url('SCDream3.woff') format('woff'),
        url('SCDream3.ttf') format('truetype'),
        url('SCDream3.otf') format('opentype'),
        url('SCDream3.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 200;
    src: local('※'),
        url('SCDream2.woff2') format('woff2'), 
        url('SCDream2.woff') format('woff'),
        url('SCDream2.ttf') format('truetype'),
        url('SCDream2.otf') format('opentype'),
        url('SCDream2.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Score';
    font-style: normal;
    font-weight: 100;
    src: local('※'),
        url('SCDream1.woff2') format('woff2'), 
        url('SCDream1.woff') format('woff'),
        url('SCDream1.ttf') format('truetype'),
        url('SCDream1.otf') format('opentype'),
        url('SCDream1.eot') format('embedded-opentype');
}












